* {
  left: 0;
  top: 0;
}

body {
  height: 100%;
  width: 100%;
}

.page-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.page-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.user-div {
  align-items: center;
  background-color: rgb(38, 170, 38);
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}

.user-div h1 {
  align-items: center;
  background-color: rgb(218, 211, 211);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  width: 200px;
}

.links-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.links-nav a {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-around;
}

.nav-item {
  align-items: center;
  background-color: rgb(51, 155, 51);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-around;
  width: 100%;
}

.search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

.artist-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albums-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.albums {
  align-items: center;
  background-color: rgb(218, 214, 214);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 25px;
  width: 200px;
}

.album {
  align-items: flex-start;
  background-color: rgb(218, 211, 211);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.album-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.album-header img {
  height: 150px;
}

.album-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-musics {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 50px;

  /* overflow-y: auto; */
}

.album-music {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-music h3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.album-music-body {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.label-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 50px;
}

.div-to-hide {
  color: transparent;
}

/*
Solução sugerida pelo Vinicius Santana turma 15B
*/

.checkbox {
  appearance: none;
  background-color: white;
  height: 10px;
  outline: none;
  position: relative;
  transform: rotate(45deg);
  width: 10px;
}

.checkbox:before {
  background-color: white;
  border-radius: 75px 75px 0 0;
  content: '';
  height: 60%;
  position: absolute;
  top: -59%;
  width: 100%;
}

.checkbox:after {
  background-color: white;
  border-radius: 75px 75px 0 0;
  content: '';
  height: 60%;
  position: absolute;
  right: 79%;
  top: 20%;
  transform: rotate(-90deg);
  width: 100%;
}

.checkbox:checked {
  background-color: red;
}

.checkbox:checked:before {
  background-color: red;
}

.checkbox:checked:after {
  background-color: red;
}
